{% extends 'layouts/adverts.html.twig' %}

{% block content %}
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Search</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>search</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="features" class="section wb">
        <div class="container">
            <div class="row">
                {{ form(searchFullForm) }}
            </div>
            <div class="row">
                {% for advert in adverts %}
{#                <div class="col-md-4 col-sm-6 col-xs-12">#}
{#                    <div class="service-widget">#}
{#                        <div class="property-main">#}
{#                            <div class="property-wrap">#}
{#                                <figure class="post-media wow fadeIn">#}
{#                                    <a href="{{ asset('uploads/estate_01.jpg') }}" data-rel="prettyPhoto[gal]"#}
{#                                       class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>#}
{#                                    <img src="{{ asset('uploads/estate_01.jpg') }}" alt="" class="img-responsive">#}
{#                                    <div class="label-inner">#}
{#                                        <span class="label-status label">Popular</span>#}
{#                                    </div>#}
{#                                    <div class="price">#}
{#                                        <span class="item-sub-price">$5.550/sq ft</span>#}
{#                                    </div>#}
{#                                </figure>#}
{#                                <div class="item-body">#}
{#                                    <h3>{{ advert.title }}</h3>#}
{#                                    <div class="info">#}
{#                                        <p><span>Bedroom: 4</span> <span>Bathroom: 2</span> <span>Land Size: <span#}
{#                                                        class="estate-x-size">5000</span> <span class="estate-x-unit">square</span></span>#}
{#                                            <span>Building Size: <span class="estate-x-size">2400</span> <span#}
{#                                                        class="estate-x-unit">square</span></span></p>#}
{#                                        <p>{{ advert.category.name }}</p>#}
{#                                    </div>#}
{#                                    <div class="adderess">#}
{#                                        <i class="fa fa-map-pin" aria-hidden="true"></i>#}
{#                                        334, Rock Hill, New York, Mississippi, 12775, USA#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="item-foot">#}
{#                                <div class="pull-left">#}
{#								<span class="prop-user-agent">#}
{#									<i class="fa fa-user" aria-hidden="true"></i>#}
{#									{{ advert.user.email }}#}
{#								</span>#}
{#                                </div>#}
{#                                <div class="pull-right">#}
{#								<span class="prop-date">#}
{#									<i class="fa fa-calendar" aria-hidden="true"></i>#}
{#									9 months ago#}
{#								</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div><!-- end service -->#}
{#                </div>#}
                    {% include 'advert-tile.html.twig' %}
                {% else %}
                    <h2>Sorry, rien trouvé</h2>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}
